<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixelperfect3.samplegame">

    <uses-feature android:name="android.hardware.vulkan" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>

    <application
        android:hasCode="false"
        android:label="Sample Game"
        android:allowBackup="false">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:exported="true">

            <meta-data android:name="android.app.lib_name" android:value="sample_game"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
